<template>
  <div>
    <h3>{{ name }}</h3>
    <h3>{{ age }}</h3>
    <button @click="changeAge">改变age</button>
  </div>
</template>

<script>
import { inject, isRef } from "vue";
export default {
  setup() {
    let name = inject("name");
    let age = inject("age");
    console.log(isRef(age));
    const changeAge = () => age.value++;
    return {
      name,
      age,
      changeAge,
    };
  },
};
</script>

<style>
</style>