<template>
  <div>
    <div>{{ info.name }}----{{ info.age }}</div>
    <button @click="changeCount">改变</button>
  </div>
</template>

<script>
import { reactive } from "vue";
export default {
  props: {
    msg: {
      type: String,
    },
  },
  setup(props, { attrs, emit, slots }) {
    let info = reactive({
      name: "小花",
      age: 18,
    });
    const changeCount = () => {
      console.log("changeCount");
      info.age++;
    };
    return {
      info,
      changeCount,
    };
  },
};
</script>

<style>
</style>