<template>
  <div>
    <h3 ref="grade">1902A</h3>
  </div>
</template>

<script>
import { ref, watchEffect, onMounted } from "vue";
export default {
  setup() {
    let grade = ref(null);
    // onMounted(() => {
    //   console.log(grade.value);
    // });
    watchEffect(
      () => {
        console.log(grade.value);
      },
      {
        flush: "post",
      }
    );
    return {
      grade,
    };
  },
};
</script>

<style>
</style>