<template>
  <div id="app">
    <!-- <Ref msg="ref" /> -->
    <div>App:{{ age }}</div>
    <watchEffect />
  </div>
</template>

<script>
import Ref from "@/views/ref.vue";
// import Reactive from "@/views/reactive.vue";
// import Reactive from "@/views/reactive1.vue";
// import Provide from "@/views/provide.vue"; //组件名
// import Create from "@/views/声明周期.vue"; //组件名
// import Computed from "@/views/computed.vue"; //组件名
// import watchEffect from "@/views/watchEffect1.vue"; //组件名
import watchEffect from "@/views/watch.vue"; //组件名

import { provide, ref, readonly } from "vue";
export default {
  name: "App",
  components: {
    watchEffect,
  },
  setup() {
    let name = ref("1902A");
    let age = ref(19);
    provide("name", readonly(name));
    provide("age", readonly(age));
    return {
      age,
    };
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
