<template>
  <div>
    <h3>{{ count }}</h3>
    <div>{{ result }}</div>
    <div>{{ newresult }}</div>
    <div>{{ getReult() }}</div>
    <div>姓名：{{ obj.name }};年龄：{{ obj.age }}</div>
    <button @click="changeCount">点击</button>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      count: 1,
      obj: {
        name: "小花",
        age: 18,
      },
    };
  },
  computed: {
    result() {
      // console.log("计算");
      return this.count * 2;
    },
    newresult: {
      get() {
        return this.count * 2;
      },
    },
  },
  watch: {
    count(newvalue, oldvalue) {
      // console.log(newvalue + "newvalue", oldvalue + "oldvalue");
    },
    // obj(newvalue, oldvalue) {
    //   console.log(newvalue, oldvalue, "obj");
    // },
    obj: {
      handler(newvalue, oldvalue) {
        console.log(newvalue, oldvalue, "obj");
      },
      deep: true, //深度监听
      immediate: true, //立即执行
    },
  },
  methods: {
    changeCount() {
      this.count++;
      this.obj.age++;
    },
    getReult() {
      // console.log("getReulrt");
      return this.count * 2;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
